
@import"color";
@import"setting";

.container800 {
    margin: 0 auto;
    position: relative;
    width: 800px;
}

.container1100 {
    margin: 0 auto;
    position: relative;
    width: 1100px;
}

.container1300 {
    margin: 0 auto;
    position: relative;
    width: 1300px;
}

.head-title {
    align-items: center;
    background-color: $navy;
    display: flex;
    height: 260px;
    width: 100%;
    h1 {
        background-color: $white;
        color: $black;
        display: inline-block;
        font-family: "Yu Mincho", "YuMincho", serif;
        font-size: 20px;
        letter-spacing: 0.2em;
        margin: auto auto auto 64px;
        padding: 24px 56px;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    margin: 0;
}

/* IEだけに適応 */
_:lang(x)::-ms-backdrop, .selector {
    font-family: "Segoe UI", Meiryo, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



header {
    background-color: $white;
    height: 72px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;

    .container1100 {
        display: flex;
        justify-content: space-between;

        .header-logo {
            align-items: center;
            font-family: "Noto Serif JP", serif;
            font-weight: normal;
            letter-spacing: 0.2em;
            padding-left: 48px;
            width: 50% ;
        }
        nav {
            display: flex;
            width: 40%;

            ul {
                align-items: center;
                display: flex;
                font-family: "Noto Serif JP", serif;
                font-weight: normal;
                justify-content: flex-end;
                margin: 0;
                padding-right: 40px;
                li {
                    padding-left: 12px;
                    padding-right: 12px;
                    white-space: nowrap;
                    a {
                        color: $black;
                        position: relative;
                    }
                    a::before {
                        background: $navy;
                        bottom: -2px;
                        content: "";
                        height: 1px;
                        left: 0;
                        position: absolute;
                        transition: all 0.3s ease;
                        width: 0%;
                    }
                    a:hover::before {
                        width: 100%;
                    }
                }
                li.active a {
                    border-bottom: 2px solid #008090;
                }
            }
        }
    }
}


footer {
    background-color: $navy;
    color: $white;
    overflow: hidden;
    padding-bottom: 16px;
    padding-top: 40px;
    position: relative;
    width: 100%;
    .container1100 {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .footer-left {
            width: 50%;
            .footer-logo {
                font-family: "Noto Serif JP", serif;
                font-size: 40px;
                font-weight: normal;
                margin: 0;
                padding-bottom: 24px;
            }
            address p {
                font-family: "Noto Serif JP", serif;
                font-size: 16px;
                font-style: normal;
                font-weight: normal;
                line-height: 1.8;
                margin: 0;
                span {
                    display: block;
                    font-size: 16px;
                }
            }
        }
        .footer-right {
            display: flex;
            flex-wrap: wrap;
            width: 40%;
            ul {
                font-family: "Noto Serif JP", serif;
                font-weight: normal;
                padding: 0;
                width: 33%;
            }
            li {
                line-height: 2.5;
                a {
                    color: $white;
                    font-size: 12px;
                    position: relative;
                    white-space: nowrap;
                }
                a::before {
                    background: $white;
                    bottom: -2px;
                    content: "";
                    height: 1px;
                    left: 0;
                    position: absolute;
                    transition: all 0.3s ease;
                    width: 0%;
                }
                a:hover::before {
                    width: 100%;
                }
            }
        }
    }

    .footer-copyright {
        font-size: 10px;
        padding-top: 44px;
        text-align: center;
        width: 100%;
    }
}

