@import"common";

header {
    display: inline;
    left: 0px;
    opacity: 0;
    position: fixed;
    right: 0px;
    top: -60px;
    z-index: 999;
}

.view-wrapper {
    height: 100vh;
    position: relative;
    width: 100vw;
    .view-swiper {
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 0;
        img {
            height: 100%;
            width: 100vw;
        }
    }
    .navi-wrapper {
        background-color: rgba($white, $alpha: 0.9);
        height: 100%;
        position: absolute;
        width: 30%;
        z-index: 1;
        .logo-container {
            height: 50%;
            position: relative;
            width: 100%;
            writing-mode: vertical-rl;

            .main-logo {
                font-family: "Noto Serif JP", serif;
                font-size: 60px;
                font-weight: normal;
                left: 50%;
                letter-spacing: 16px;
                margin: 0;
                position: absolute;
                top: 70%;
                transform: translateY(-50%) translateX(-50%);
                white-space: nowrap;
            }
            .sub-logo {
                font-family: "Noto Serif JP", serif;
                font-size: 24px;
                font-weight: normal;
                left: 50%;
                letter-spacing: 10px;
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translateX(150%);
            }
        }
        .menu-container {
            align-items: center;
            display: flex;
            height: 50%;
            justify-content: center;

            ul {
                font-family: "Noto Serif JP", serif;
                font-weight: normal;
                padding-left: 0px;

                li {
                    padding-bottom: 12px;
                    padding-top: 12px;
                    text-align: center;
                    a {
                        color: $black;
                        position: relative;
                    }
                    a::before {
                        background: $navy;
                        bottom: -2px;
                        content: "";
                        height: 1px;
                        left: 0;
                        position: absolute;
                        transition: all 0.3s ease;
                        width: 0%;
                    }
                    a:hover::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.news-wrapper {
    background-color: $navy;
    height: 432px;
    .container1100 {
        h2 {
            color: $white;
            font-family: "Noto Serif JP", serif;
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            padding-top: 64px;
            text-align: center;
        }
        .news-container {
            padding-bottom: 10px;
            padding-top: 56px;
            .news {
                align-items: center;
                display: flex;
                height: 16px;
                justify-content: center;
                padding-bottom: 20px;
                text-align: center;
                p {
                    color: $white;
                    font-size: 16px;
                    padding-right: 32px;
                }
                .genre {
                    background-color: $white;
                    border-radius: 4px;
                    color: $black;
                    font-size: 10px;
                    margin-right: 24px;
                    padding: 2px 16px;
                }
            }
        }
        .btn-w {
            margin: 0 auto;
        }
    }
}

.about-wrapper {
    height: 532px;
    .container1100 {
        display: flex;
        .about-left {
            padding-top: 92px;
            width: 50%;
            .title-en {
                color: $orange;
                font-family: "Noto Serif JP", serif;
                font-size: 16px;
                font-weight: normal;
                margin: 0;
            }
            .title-jp {
                font-family: "Noto Serif JP", serif;
                font-size: 30px;
                font-weight: bold;
                margin: 0;
                padding-bottom: 64px;
                padding-top: 20px;
            }
            p {
                font-size: 18px;
                margin: 0;
                padding-bottom: 12px;
                padding-right: 96px;
            }
        }
        .about-right {
            width: 50%;
            img {
                padding-top: 160px;
            }
        }
    }
}

.work-wrapper {
    .container1300 {
        .title-en {
            color: $orange;
            font-family: "Noto Serif JP", serif;
            font-size: 16px;
            font-weight: normal;
            margin: 0;
            padding-top: 20px;
            text-align: center;
        }
        .title-jp {
            font-family: "Noto Serif JP", serif;
            font-size: 32px;
            font-weight: bold;
            margin: 0;
            padding-bottom: 54px;
            padding-top: 20px;
            text-align: center;
        }
        .list-panel {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            .list-panel-items {
                box-sizing: border-box;
                padding: 0 auto;
                width: 33.33%;
                .panel {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    .image {
                        margin: 0;
                        min-height: 300px;
                        overflow: hidden;
                        position: relative;
                        text-align: center;
                    }
                    .box-title {
                        color: $white;
                        font-family: "Noto Serif JP", serif;
                        font-weight: normal;
                        left: 50%;
                        position: absolute;
                        text-align: center;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        .box-en {
                            font-size: 14px;
                            margin: 0;
                        }
                        .box-jp {
                            font-size: 32px;
                            margin: 0;
                        }
                    }
                    .box-text {
                        bottom: -35px;
                        color: #FFFFFF;
                        font-size: 12px;
                        left: 0;
                        min-height: 120px;
                        opacity: 0;
                        padding: 30px;
                        position: absolute;
                        right: 0;
                        transition: opacity 0.2s ease, bottom 0.2s ease;
                        word-break: break-all;
                    }
                    &:hover {
                        .box-title {
                            margin-top: -35px;
                            &::after {
                                display: block;
                            }
                        }

                        .box-text {
                            bottom: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .btn-b {
            margin: 12px 140px 56px auto;
        }
    }
}

.recruit-wrapper {
    position: relative;
    .recruit-container {
        background: #FFFFFF;
        height: 100%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        width: 512px;
        .title-en {
            color: $orange;
            font-family: "Noto Serif JP", serif;
            font-size: 16px;
            font-weight: normal;
            margin: 0 ;
            padding-top: 5px;
        }
        .title-jp {
            font-family: "Noto Serif JP", serif;
            font-size: 32px;
            font-weight: bold;
            margin: 0 ;
            padding-bottom: 80px;
            padding-top: 20px;
        }
        p {
            font-size: 20px;
            margin: 0 116px 0 116px;
        }
        .btn-o a {
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
        }
    }
    .recruit-swiper {
        height: 568px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;
        z-index: -1;
    }
}

.store-wrapper {
    .store-container {
        background-color: $navy;
        height: 256px;
        margin: 164px auto 60px auto;
        position: relative;
        width: 1100px;
        figure {
            left: -14px;
            position: absolute;
            top: -84px;
            img {
                height: 300px;
            }
        }
        .store-right {
            margin: 0 0 0 auto;
            width: 50%;
            .store-text {
                color: $white;
                font-size: 20px;
                margin: 0;
                padding: 64px 116px 56px 116px;
                text-align: center;
            }
            .btn-w {
                @include btn(190px,$white);
                margin: 0 auto;
            }

            .btn-w:before {
                @include btn-before(190px,$white);
            }
            .btn-w:hover:before {
                left: 0px;
            }

            .btn-w a {
                @include btn-a(14px,$white);
            }
            .btn-w a:after {
                @include btn-a-after($white);
                right: 15px;
            }
            .btn-w a:before {
                @include btn-a-before($white);
                right: 14px;
            }
            .btn-w a:hover:after {
                right: 5px;
            }
            .btn-w a:hover:before {
                right: 4px;
            }
        }
    }
}