@import"common";

.container1100{
    display:flex;
}

.text-container{
    width:50%;
}
.img-container{
    width:50%;
}

.intro{
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-container{
        h2{
            padding-top:128px;
            font-size: 40px;     
            margin: 0;  
            font-family: 'Noto Serif JP', serif;
            font-weight: normal; 
        }
        p{
            padding-top: 28px;
            padding-bottom:88px;
            font-size: 16px;
            margin: 0;
            font-family: 'Noto Serif JP', serif;
            font-weight: normal;
        }
    }
    
}

.container1300{
    display:flex;
    .text-container{
        text-align: center;
        h3{
            padding-top: 100px;
            font-size: 80px;
            padding-bottom: 72px;
            margin:0;
            font-family: 'Noto Serif JP', serif;
            font-weight: normal;
        }
        p{
            margin: 0 116px;
            font-size: 16px;
            padding-bottom: 48px;
            font-family: 'Noto Serif JP', serif;
            font-weight: normal;
        }
        .btn-b {
            @include btn(190px,$black);
            margin:0 auto;
        }
        
        .btn-b:before {
           @include btn-before(190px,$black);
        }
        .btn-b:hover:before {
            left: 0px;
        }
        
        .btn-b a {
            @include btn-a(14px,$black);
        }
        .btn-b a:after {
            @include btn-a-after($black);
            right: 15px;
        }
        .btn-b a:before {
            @include btn-a-before($black);
            right: 14px;
        }
        .btn-b a:hover:after {
            right: 5px;
        }
        .btn-b a:hover:before {
            right: 4px;
        }       
    }    
}

.civil{
    .img-container{
        margin:auto auto auto 0;
    }
}

.antique{
    .img-container{
        margin: auto 0 auto auto;
    }
}
