

.container800 {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    width: 800px;
}

.container1000 {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 1000px;
}

.container1300 {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    width: 1300px;
}

figure {
    margin: 0;
    padding: 0;
}

.head-title {
    align-items: center;
    background-color: $navy;
    display: flex;
    height: 260px;
    width: 100%;
    h1 {
        background-color: $white;
        color: $black;
        display: inline-block;
        font-family: 'Yu Mincho', 'YuMincho', serif;
        font-size: 20px;
        letter-spacing: 0.2em;
        margin: auto auto auto 64px;
        padding: 24px 56px;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
    margin: 0;
}

/* IEだけに適応 */
_:lang(x)::-ms-backdrop, .selector {
    font-family: 'Segoe UI', Meiryo, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

header {
    background-color: $white;
    height: 72px;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    .header-inner {
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem;
        .header-logo {
            align-items: center;
            font-family: 'Noto Serif JP', serif;
            font-weight: normal;
            letter-spacing: 0.2em;
        }
    }
}


footer {
    background-color: $navy;
    color: $white;
    overflow: hidden;
    padding-bottom: 16px;
    padding-top: 40px;
    position: relative;
    width: 100%;
    .footer-inner {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .footer-left {
            .footer-logo {
                font-family: 'Noto Serif JP', serif;
                font-size: 40px;
                font-weight: normal;
                margin: 0;
                padding-bottom: 24px;
            }
            address p {
                font-family: 'Noto Serif JP', serif;
                font-size: 16px;
                font-style: normal;
                font-weight: normal;
                line-height: 1.8;
                margin: 0;
                span {
                    display: block;
                    font-size: 16px;
                }
            }
        }
        .footer-right {
            ul {
                font-family: 'Noto Serif JP', serif;
                font-weight: normal;
                padding: 0;
                width: 33%;
            }
            li {
                line-height: 2.5;
                a {
                    color: $white;
                    font-size: 12px;
                    position: relative;
                    white-space: nowrap;
                }
                a::before {
                    background: $white;
                    bottom: -2px;
                    content: '';
                    height: 1px;
                    left: 0;
                    position: absolute;
                    transition: all 0.3s ease;
                    width: 0%;
                }
                a:hover::before {
                    width: 100%;
                }
            }
        }
    }

    .footer-copyright {
        font-size: 10px;
        padding-top: 44px;
        text-align: center;
        width: 100%;
    }
}

