/*メディアクエリmixin*/
// 変数の定義
// min-width
$breakpoint-up: (
  /* small devices (smartphone landscape, 576px and up)
  'sm': 'screen and (min-width: 576px)',*/
  // Medium devices (tablets, 768px and up)
  'md': 'screen and (min-width: 768px)',
  // Lage devices (Laptop, 992px and up)
  'lg': 'screen and (min-width: 992px)',
  // Extra Large devices (Desktop, 1200px and up)
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 991px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}
/*メディアクエリmixin終了*/


//sm用ヘッダー
@include mq-down(md) {
    #nav-toggle {
        cursor: pointer;
        display: block;
        height: 32px;
        position: fixed;
        right: 25px;
        top: 25px;

        > div {
            position: relative;
            width: 36px;
        }
        span {
            background: #333333;
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            transition: transform 0.6s ease-in-out, top 0.5s ease;
            width: 100%;

            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 14px;
            }
            &:nth-child(3) {
                top: 28px;
            }
        }

        &:hover span:nth-child(1) {
            top: 4px;
        }
        &:hover span:nth-child(3) {
            top: 23px;
        }
    }

    .open {
        #nav-toggle span {
            background: $black;

            &:nth-child(1) {
                top: 15px;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                left: 50%;
                top: 15px;
                width: 0;
            }
            &:nth-child(3) {
                top: 15px;
                transform: rotate(-45deg);
            }
        }
    }

    /* z-index */
    #nav-toggle {
        z-index: 1000;
    }
    #container {
        z-index: 900;
    }

    #gloval-nav {
        align-items: center;
        background: $white;
        bottom: 0;
        color: #FFFFFF;
        display: flex;
        flex-direction: column !important;
        font-size: 29px;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        text-align: center;
        top: 0;
        transition: opacity 0.6s ease, visibility 0.6s ease;
        visibility: hidden;
        z-index: 990;
    }


    #gloval-nav {
        a {
            color: $black;
            display: block;
            padding: 10px 0;
            text-decoration: none;
            transition: color 0.6s ease;

            &:hover {
                color: #666666;
            }
        }

        ul {
            list-style: none;

            li {
                opacity: 0;
                transform: translateX(200px);
                transition: transform 0.6s ease, opacity 0.2s ease;

                &:nth-child(2) {
                    transition-delay: 0.15s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
                &:nth-child(4) {
                    transition-delay: 0.45s;
                }
                &:nth-child(5) {
                    transition-delay: 0.6s;
                }
                &:nth-child(6) {
                    transition-delay: 0.75s;
                }
                &:nth-child(7) {
                    transition-delay: 0.9s;
                }
            }
        }
    }

    /* open */
    .open {
        overflow: hidden;

        #gloval-nav {
            opacity: 1;
            visibility: visible;
        }

        #gloval-nav li {
            opacity: 1;
            transform: translateX(0);
            transition: transform 1s ease, opacity 0.9s ease;
        }
    }
}

//md以上用ヘッダー
@include mq-up(md) {
    header {
        .header-inner {
            nav {
                display: flex;
                padding-left: auto;
                padding-right: 0;
                ul {
                    align-items: center;
                    display: flex;
                    font-family: 'Noto Serif JP', serif;
                    font-weight: normal;
                    justify-content: flex-end;
                    margin: 0;
                    li {
                        padding-left: 12px;
                        padding-right: 12px;
                        white-space: nowrap;
                        a {
                            color: $black;
                            position: relative;
                        }
                        a::before {
                            background: $navy;
                            bottom: -2px;
                            content: '';
                            height: 1px;
                            left: 0;
                            position: absolute;
                            transition: all 0.3s ease;
                            width: 0%;
                        }
                        a:hover::before {
                            width: 100%;
                        }
                    }
                    li.active a {
                        border-bottom: 2px solid #008090;
                    }
                }
            }
            .nav-toggle {
                display: none;
            }
        }
    }
}

//sm用フッター
@include mq-down(md) {
    footer {
        .footer-inner {
            flex-direction: column;
            width: 100%;
        }
        .footer-left {
            border-bottom: 1px solid $white;
            padding-bottom: 1rem;
            padding-left: 1rem;
            padding-top: 1rem;
        }
        .footer-right {
            display: none;
        }
        .footer-right-md {
            display: block;
            ul {
                font-family: 'Noto Serif JP', serif;
                font-weight: normal;
                padding-left: 0;
            }
            li {
                border-bottom: 1px solid $white;
                line-height: 2.5;
                padding-bottom: 1rem;
                padding-left: 1rem;
                padding-top: 1rem;
                a {
                    color: $white;
                    font-size: 1rem;
                    white-space: nowrap;
                }
            }
        }
    }
}

//md以上用フッター
@include mq-up(md) {
    footer {
        .footer-inner {
            margin: 0 auto;
            max-width: 100%;
            position: relative;
            width: 1000px;
        }
        .footer-right {
            display: flex;
            flex-wrap: wrap;
            width: 40%;
        }
        .footer-right-md {
            display: none;
        }
        .footer-left {
            width: 50%;
        }
    }
}

//sm用view-wrapper
@include mq-down(md) {
    .view-wrapper {
        height: 500px !important;
        .navi-wrapper {
            height: 100%;
            text-align: center;
            top: 0;
            .logo-container {
                height: 70%;
                top: 100px;
                z-index: 100;
                .sub-logo {
                    background-color: $white;
                    color: $black;
                    letter-spacing: 8px !important;
                }
                .main-logo {
                    background-color: $white;
                    color: $black;
                }
            }
            .menu-container {
                display: none !important;
            }
        }
        .view-swiper {
            height: 350px !important;
            top: 0;
        }
        .background-md {
            background-color: $navy;
            display: block;
            height: 155px;
            position: absolute;
            top: 349px;
            width: 100%;
            z-index: 1;
        }
    }
}

//md以上用view-wrapper
@include mq-up(md) {
    .view-wrapper {
        .background-md {
            display: none;
        }
        .navi-wrapper {
            background-color: rgba($white, $alpha: 0.9);
            height: 100vh;
            position: absolute;
            width: 400px;
            .logo-container {
                height: 50%;
            }
        }
    }
}

//sm用news-wrapper
@include mq-down(md) {
    .news-wrapper {
        height: 640px !important;
        .news-container {
            margin: 0 auto;
            width: 280px;
        }
        .news {
            display: inline-block !important;
            height: auto !important;
            justify-content: start !important;
            text-align: right !important;
        }
        .news-head {
            padding-bottom: 0.5rem;
        }
        .news-title {
            padding-left: 0;
            width: 100%;
        }
    }
}

//sm用about-wrapper
@include mq-down(md) {
    .about-wrapper {
        height: 650px;
        .container1000 {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .about-right {
            height: 260px;
            width: 100% !important;
            figure {
                height: 100%;
                text-align: center;
            }
            img {
                height: 100%;
                padding: 0 !important;
                width: auto;
            }
        }
        .about-left {
            padding: 2rem 0 0 0 !important;
            text-align: center !important;
            width: 80% !important;
            .title-en, .title-jp {
                display: none;
            }
            p {
                font-size: 1rem !important;
                padding-right: 0 !important;
            }
            .btn-b {
                margin: 0 auto !important;
            }
        }
        .about-head-sm {
            text-align: center;
            .title-jp {
                padding-bottom: 2.5rem !important;
                padding-top: 0.75rem !important;
            }
        }
    }
}

//md以上用about-wrapper
@include mq-up(md) {
    .about-wrapper {
        .container1000 {
            display: flex;
            flex-direction: row-reverse;
            .about-head-sm {
                display: none;
            }
        }
    }
}

//sm用work-wrapper

@include mq-down(md) {
    .work-wrapper {
        .list-panel-items {
            width: 50% !important;
        }
        .btn-b {
            margin: 1rem auto !important;
        }
    }
}

//md以上用work-wrapper
@include mq-up(md) {
}

//sm用recruit-wrapper

@include mq-down(md) {
    .recruit-wrapper {
        position: static !important;
        .recruit-container {
            background-color: rgba(255,255,255,0) !important ;
            position: static !important;
            width: 100% !important;
            p, .btn-o {
                display: none;
            }
        }
        .recruit-body-sm {
            margin: 0 auto;
            width: 70%;
        }
    }
}

//sm用recruit-wrapper

@include mq-up(md) {
    .recruit-wrapper {
        .recruit-body-sm {
            display: none;
        }
    }
}

//sm用store-container

@include mq-down(md) {
    .store-wrapper {
        .store-container {
            height: 10rem !important;
            figure {
                right: 0 !important;
                top: 0 !important;
                img {
                    height: 100%;
                    width: auto !important;
                }
            }
            .store-right {
                .store-text {
                    font-size: 0.75rem !important;
                    padding: 1.5rem !important;
                }
            }
        }
    }
}

//sm用worksのcard-wrapper
@include mq-down(md) {
    .card-wrapper {
        .card {
            width: 49%;
        }
    }
}

//sm用serviceのintro
@include mq-down(md) {
    .intro-container {
        flex-direction: column-reverse;
        .img-container {
            margin: 0 auto !important;
            width: 80%;
        }
    }
}

//sm用serviceのcivil
@include mq-down(md) {
    .civil-container {
        flex-direction: column;
        .img-container {
            margin: 0 auto !important;
            width: 80%;
        }
        .text-container {
            margin: 0 auto !important;
            width: 80%;
        }
    }
}

//sm用serviceのantique
@include mq-down(md) {
    .antique-container {
        flex-direction: column-reverse;
        .img-container {
            margin: 0 auto !important;
            width: 80%;
        }
        .text-container {
            margin: 0 auto !important;
            width: 80%;
        }
    }
}

//sm,md用のrecruitのmessage

@include mq-down(lg) {
    .recruit-message {
        flex-direction: column;
        margin: 0 auto !important;
        width: 80% !important;
        .message-left, .message-right {
            width: 100% !important;
        }
    }
}

//md用のrecruitのbanner

@include mq-down(lg) {
    .banner {
        height: auto !important;
        width: 80% !important;
        h2 {
            font-size: 16px;
            padding-top: 0px !important;
        }
        .btn-p {
            bottom: -4rem !important;
        }
    }
}

//sm用のrecruitのbanner

@include mq-down(lg) {
    .banner {
        height: auto !important;
        width: 80% !important;
        h2 {
            font-size: 16px;
            padding-top: 0px !important;
        }
        .btn-p {
            bottom: 3rem !important;
            left: -1rem !important;
        }
    }
}

