@forward "common";

.container1100 {
    display: flex;
}

.text-container {
    width: 50%;
}
.img-container {
    width: 50%;
}

.intro {
    .img-container {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .text-container {
        h2 {
            font-family: "Noto Serif JP", serif;
            font-size: 40px;
            font-weight: normal;
            margin: 0;
            padding-top: 128px;
        }
        p {
            font-family: "Noto Serif JP", serif;
            font-size: 16px;
            font-weight: normal;
            margin: 0;
            padding-bottom: 88px;
            padding-top: 28px;
        }
    }
}

.container1300 {
    display: flex;
    .text-container {
        text-align: center;
        h3 {
            font-family: "Noto Serif JP", serif;
            font-size: 80px;
            font-weight: normal;
            margin: 0;
            padding-bottom: 72px;
            padding-top: 100px;
        }
        p {
            font-family: "Noto Serif JP", serif;
            font-size: 16px;
            font-weight: normal;
            margin: 0 116px;
            padding-bottom: 48px;
        }
        .btn-b {
            @include btn(190px,$black);
            margin: 0 auto;
        }

        .btn-b:before {
            @include btn-before(190px,$black);
        }
        .btn-b:hover:before {
            left: 0px;
        }

        .btn-b a {
            @include btn-a(14px,$black);
        }
        .btn-b a:after {
            @include btn-a-after($black);
            right: 15px;
        }
        .btn-b a:before {
            @include btn-a-before($black);
            right: 14px;
        }
        .btn-b a:hover:after {
            right: 5px;
        }
        .btn-b a:hover:before {
            right: 4px;
        }
    }
}

.civil {
    .img-container {
        margin: auto auto auto 0;
    }
}

.antique {
    .img-container {
        margin: auto 0 auto auto;
    }
}
