
/*ボタン定義*/

@mixin btn($width,$color) {
    border-bottom: 1px solid $color;
    margin: auto 0;
    overflow: hidden;
    position: relative;
    width: $width;
    /* 上のボーダー */
    /*a*/
}

@mixin btn-before($width,$color) {
    background: $color;
    content: '';

/*線の色*/
    height: 1px;
    left: -$width;
    position: absolute;
    top: 0;
    transition: 0.3s;
    width: $width;
}

.btn:hover:before {
    left: 0px;
}

@mixin btn-a($size,$color) {
    color: $color;
    display: block;
    font-family: 'Noto Serif JP', serif;
    font-size: $size;
    font-weight: normal;
    line-height: 3em;
    position: relative;
    text-align: center;
    text-decoration: none;
}

@mixin btn-a-after($color) {
    border-bottom: 1px solid $color;
    bottom: 20px;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 25px;
    transition: 0.3s;
    width: 12px;
}

@mixin btn-a-before($color) {
    border-bottom: 1px solid $color;
    bottom: 21px;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 24px;
    transform: rotate(30deg);
    transition: 0.3s;
    width: 6px;
}

.btn a:hover:after {
    right: 15px;
}
.btn a:hover:before {
    right: 14px;
}

/* ボタン定義終わり*/

/*ボタン白*/
.btn-w {
    @include btn(170px,$white);
}

.btn-w:before {
    @include btn-before(170px,$white);
}
.btn-w:hover:before {
    left: 0px;
}

.btn-w a {
    @include btn-a(14px,$white);
}
.btn-w a:after {
    @include btn-a-after($white);
}
.btn-w a:before {
    @include btn-a-before($white);
}
.btn-w a:hover:after {
    right: 15px;
}
.btn-w a:hover:before {
    right: 14px;
}
/*ボタン白終わり*/

/*ボタン黒*/
.btn-b {
    @include btn(170px,$black);
}

.btn-b:before {
    @include btn-before(170px,$black);
}
.btn-b:hover:before {
    left: 0px;
}

.btn-b a {
    @include btn-a(14px,$black);
}
.btn-b a:after {
    @include btn-a-after($black);
}
.btn-b a:before {
    @include btn-a-before($black);
}
.btn-b a:hover:after {
    right: 15px;
}
.btn-b a:hover:before {
    right: 14px;
}
/*ボタン黒終わり*/

/*ボタンオレンジ*/

.btn-o a {
    background: $orange;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 280px;
}

@media only screen and (max-width: 768px) {
    .btn-o a {
        font-size: 4vw;
        margin: 0 auto;
        width: 90%;
    }
}

.btn-o a:after {
    border-bottom: 1px solid lighten($color: $orange, $amount: 20);
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    top: 18px;
    transition: 0.3s;
    width: 30px;
}

.btn-o a:before {
    background: darken($color: $orange, $amount: 20);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
}

.btn-o a:hover:after {
    width: 20px;
}

.btn-o a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-o a .inner-text {
    display: block;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
}

/*ボタンオレンジ終わり*/

/*ボタンポップ*/
.btn-p a {
    background-color: #FFFFFF;
    bottom: 80px;
    color: #000000;
    display: block;
    font-size: 14px;
    left: -85px;
    line-height: 3.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    width: 170px;
    z-index: 2;

    /*&:hover*/
}

@media only screen and (max-width: 768px) {
    .btn-p a {
        bottom: -22px;
        left: 0;
        margin: 0 auto;
        right: 0;
    }
}

.btn-p a:after {
    border-bottom: 1px solid #AAAAAA;
    bottom: 24px;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 25px;
    transition: 0.5s;
    width: 12px;
}

.btn-p a:before {
    border-bottom: 1px solid #AAAAAA;
    bottom: 25px;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 24px;
    transform: rotate(30deg);
    transition: 0.5s;
    width: 6px;
}

.btn-p a:hover {
    bottom: 90px;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    btn-p a:hover {
        bottom: -20px;
        box-shadow: 0px 30px 40px rgba(0, 0, 0, 0);
    }
}

.btn-p a:hover:after {
    right: 18px;
}

.btn-p a:hover:before {
    right: 17px;
}

/*ボタンポップ終わり*/