

.filter {
    padding-bottom: 72px;
    padding-top: 40px;
    text-align: center;
}

.card-wrapper {
    background-color: $navy;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: $white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem ;
    width: 24%;
    .card-contents {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        .img-card {
            align-items: center;
            display: flex;
            justify-content: center;
            img {
                height: auto;
                max-width: 100%;
                width: 100%;
            }
        }
        .text-card {
            h3 {
                color: $black;
                font-size: 16px;
                margin: 0;
                padding-top: 22px;
            }
            h4 {
                color: $black;
                font-size: 12px;
                margin: 0;
                padding-top: 12px;
            }
            p {
                background-color: lighten($color: $gray, $amount: 40);
                color: $black;
                display: inline-block;
                font-size: 12px;
                line-height: 1;
                margin: 16px 0 auto 0;
                padding: 2px;
            }
        }
    }
}

.pagenation-wrapper {
    height: 100px;
    width: 100%;

    .c-pagenation {
        display: flex;
        justify-content: center;
        margin: 40px 0;
        ul {
            margin: 0 auto;
            padding-top: 40px;
        }
    }
}

.c-pagenation {
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-justify-content: center;
            justify-content: center;
}

.c-pagenation__number {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;
    list-style: none;
    ;
}

.c-pagenation .c-arrow-box, .c-pagenation__number li a {
    font-size: 16px;
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 767px) {
    .c-pagenation .c-arrow-box, .c-pagenation__number li a {
        font-size: 12px;
        height: 30px;
        width: 30px;
    }
}

.c-pagenation__num
ber {
    margin: 0 20px;
}

@media screen and (max-width: 767px) {
    .c-pagenation__number {
        margin: 0 10px;
    }
}

.c-pagenation__number li+ li {
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .c-pagenation__number li+ li {
        margin-left: 3px;
    }
}

.c-pagenation__number li a {
    -webkit-align-items: center;
       -moz-align-items: center;
            align-items: center;
    border: 1px solid #E0E0E0;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-justify-content: center;
            justify-content: center;
    text-decoration: none;
    ;
}

.c-pagenation__number li a.is-current, .c-pagenation__number li a:hover {
    background: $navy;
    border: none;
}

.c-pagenation__number li a.is-current span, .c-pagenation__number li a:hover span {
    color: #FFFFFF;
}

.c-pagenation-article {
    background: #FAFAFA;
    border-bottom: 1px solid #E0E0E0;
    padding: 30px 0;
}

@media screen and (max-width: 767px) {
    .c-pagenation-article {
        padding: 15px 0;
    }
}

.c-pagenation-article__inner {
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-justify-content: center;
            justify-content: center;
}

@media screen and (max-width: 767px) {
    .c-pagenation-article__inner {
        display: block;
    }
}

.c-pagenation-dir {
    border-bottom: 1px solid #E0E0E0;
    padding: 1rem 0 40px 0;
}

@media screen and (max-width: 767px) {
    .c-pagenation-dir {
        border-bottom: none;
        padding: 0;
        ;
    }
}

.c-pagenation-dir__label {
    background: #FFFFFF;
    display: none;
    ;
}

@media screen and (max-width: 767px) {
    .c-pagenation-dir__label {
        border-bottom: 1px solid #E0E0E0;
        display: block;
        font-family: 'ゴシックMB101 M','Gothic MB101 Medium', sans-serif;
        font-size: 14px;
        padding: 20px;
        ;
    }
}

.c-pagenation-dir__list {
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    -webkit-flex-wrap: wrap;
       -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
       -moz-justify-content: center;
            justify-content: center;
    list-style: none;
    ;
}

@media screen and (max-width: 767px) {
    .c-pagenation-dir__list {
        display: block;
    }
}

.c-pagenation-dir__list li {
    font-family: 'ゴシックMB101 M','Gothic MB101 Medium', sans-serif;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 30px;
    ;
}

.c-pagenation-dir__list li:first-child {
    margin-left: 0;
}

@media screen and (max-width: 767px) {
    .c-pagenation-dir__list li {
        font-size: 1.3rem;
        margin: 0;
    }

    .c-pagenation-dir__list li:first-child {
        margin-left: 0;
    }

    .c-pagenation-dir__list li:first-child a {
        padding: 20px;
    }
}

.c-pagenation-dir__list a {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .c-pagenation-dir__list a {
        display: block;
        padding: 20px 20px 20px 40px;
        ;
    }
}

.c-pagenation-dir__list a.is-current, .c-pagenation-dir__list a:hover {
    position: relative;
}

.c-pagenation-dir__list a.is-current:after, .c-pagenation-dir__list a:hover:after {
    background: $navy;
    bottom: -0px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    ;
}

@media screen and (max-width: 767px) {
    .c-pagenation-dir__list a.is-current:after, .c-pagenation-dir__list a:hover:after {
        content: none;
    }
}

.u-hide-txt {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 100%;
    white-space: nowrap;
    ;
}

.c-arrow-box--l+ .c-button__text {
    border-right: 1px solid #E0E0E0;
}

.c-arrow-box--r+ .c-button__text {
    border-left: 1px solid #E0E0E0;
}

@media screen and (max-width: 767px) {
    .c-button__text {
        font-size: 12px;
        width: calc(100% - 45px);
        ;
    }
}

a:hover .c-button__text {
    background: #FFFFFF;
    border-color: $navy;
}

a:hover .c-button__text span {
    color: $navy;
}

.c-button--white .c-button__text {
    background: none;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

a:hover .c-button--white .c-button__text {
    background: #FFFFFF;
}

.c-button--white .c-arrow-box {
    background: #FFFFFF;
}

.c-arrow-box {
    background: #F5F5F5;
    display: block;
    position: relative;
    -webkit-transition: all 150ms ease;
       -moz-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
         -o-transition: all 150ms ease;
            transition: all 150ms ease;
}

.c-arrow-box.is-green, .c-arrow-box:hover, a:hover .c-arrow-box {
    background: $navy;
}

.c-arrow-box:after {
    content: '';
    display: block;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
}

.c-arrow-box--r:after {
    border-bottom: 3px solid transparent;
    border-left: 6px solid transparent;
    border-left-color: $navy;
    border-right: 6px solid transparent;
    border-right: none;
    border-top: 3px solid transparent;
    height: 0;
    width: 0;
    ;
}

.c-arrow-box--r.is-green:after, .c-arrow-box--r:hover:after, a:hover .c-arrow-box--r:after {
    border-left-color: #FFFFFF;
}

.c-arrow-box--r:hover:after, a:hover .c-arrow-box--r.is-green:after, a:hover .c-arrow-box--r:after {
    left: calc(50% + 3px);
    -webkit-transition: all 150ms ease;
       -moz-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
         -o-transition: all 150ms ease;
            transition: all 150ms ease;
}

.c-arrow-box--l:after {
    border-bottom: 3px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-right-color: $navy;
    border-top: 3px solid transparent;
    height: 0;
    margin-left: -3px;
    width: 0;
    ;
}

.c-arrow-box--l.is-green:after, .c-arrow-box--l:hover:after, a:hover .c-arrow-box--l:after {
    border-right-color: #FFFFFF;
}

