@charset "UTF-8";
/*ボタン定義*/
.btn:hover:before {
  left: 0px;
}

.btn a:hover:after {
  right: 15px;
}

.btn a:hover:before {
  right: 14px;
}

/* ボタン定義終わり*/
/*ボタン白*/
.btn-w {
  border-bottom: 1px solid #FFFFFF;
  margin: auto 0;
  overflow: hidden;
  position: relative;
  width: 170px;
  /* 上のボーダー */
  /*a*/
}

.btn-w:before {
  background: #FFFFFF;
  content: '';
  /*線の色*/
  height: 1px;
  left: -170px;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 170px;
}

.btn-w:hover:before {
  left: 0px;
}

.btn-w a {
  color: #FFFFFF;
  display: block;
  font-family: 'Noto Serif JP', serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 3em;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.btn-w a:after {
  border-bottom: 1px solid #FFFFFF;
  bottom: 20px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 12px;
}

.btn-w a:before {
  border-bottom: 1px solid #FFFFFF;
  bottom: 21px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 24px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 6px;
}

.btn-w a:hover:after {
  right: 15px;
}

.btn-w a:hover:before {
  right: 14px;
}

/*ボタン白終わり*/
/*ボタン黒*/
.btn-b {
  border-bottom: 1px solid #000000;
  margin: auto 0;
  overflow: hidden;
  position: relative;
  width: 170px;
  /* 上のボーダー */
  /*a*/
}

.btn-b:before {
  background: #000000;
  content: '';
  /*線の色*/
  height: 1px;
  left: -170px;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 170px;
}

.btn-b:hover:before {
  left: 0px;
}

.btn-b a {
  color: #000000;
  display: block;
  font-family: 'Noto Serif JP', serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 3em;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.btn-b a:after {
  border-bottom: 1px solid #000000;
  bottom: 20px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 12px;
}

.btn-b a:before {
  border-bottom: 1px solid #000000;
  bottom: 21px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 24px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 6px;
}

.btn-b a:hover:after {
  right: 15px;
}

.btn-b a:hover:before {
  right: 14px;
}

/*ボタン黒終わり*/
/*ボタンオレンジ*/
.btn-o a {
  background: #EB9000;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 280px;
}

@media only screen and (max-width: 768px) {
  .btn-o a {
    font-size: 4vw;
    margin: 0 auto;
    width: 90%;
  }
}

.btn-o a:after {
  border-bottom: 1px solid #ffbc52;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  right: 0;
  top: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 30px;
}

.btn-o a:before {
  background: #855100;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
}

.btn-o a:hover:after {
  width: 20px;
}

.btn-o a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.btn-o a .inner-text {
  display: block;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
}

/*ボタンオレンジ終わり*/
/*ボタンポップ*/
.btn-p a {
  background-color: #FFFFFF;
  bottom: 80px;
  color: #000000;
  display: block;
  font-size: 14px;
  left: -85px;
  line-height: 3.5em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 170px;
  z-index: 2;
  /*&:hover*/
}

@media only screen and (max-width: 768px) {
  .btn-p a {
    bottom: -22px;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
}

.btn-p a:after {
  border-bottom: 1px solid #AAAAAA;
  bottom: 24px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 12px;
}

.btn-p a:before {
  border-bottom: 1px solid #AAAAAA;
  bottom: 25px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 24px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 6px;
}

.btn-p a:hover {
  bottom: 90px;
  -webkit-box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  btn-p a:hover {
    bottom: -20px;
    -webkit-box-shadow: 0px 30px 40px rgba(0, 0, 0, 0);
            box-shadow: 0px 30px 40px rgba(0, 0, 0, 0);
  }
}

.btn-p a:hover:after {
  right: 18px;
}

.btn-p a:hover:before {
  right: 17px;
}

/*ボタンポップ終わり*/
.container800 {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  width: 800px;
}

.container1000 {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  width: 1000px;
}

.container1300 {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  width: 1300px;
}

figure {
  margin: 0;
  padding: 0;
}

.head-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #001E38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
  width: 100%;
}

.head-title h1 {
  background-color: #FFFFFF;
  color: #000000;
  display: inline-block;
  font-family: 'Yu Mincho', 'YuMincho', serif;
  font-size: 20px;
  letter-spacing: 0.2em;
  margin: auto auto auto 64px;
  padding: 24px 56px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
  margin: 0;
}

/* IEだけに適応 */
_:lang(x)::-ms-backdrop, .selector {
  font-family: 'Segoe UI', Meiryo, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  background-color: #FFFFFF;
  height: 72px;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.5rem;
}

header .header-inner .header-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  letter-spacing: 0.2em;
}

footer {
  background-color: #001E38;
  color: #FFFFFF;
  overflow: hidden;
  padding-bottom: 16px;
  padding-top: 40px;
  position: relative;
  width: 100%;
}

footer .footer-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner .footer-left .footer-logo {
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 24px;
}

footer .footer-inner .footer-left address p {
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8;
  margin: 0;
}

footer .footer-inner .footer-left address p span {
  display: block;
  font-size: 16px;
}

footer .footer-inner .footer-right ul {
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  padding: 0;
  width: 33%;
}

footer .footer-inner .footer-right li {
  line-height: 2.5;
}

footer .footer-inner .footer-right li a {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  white-space: nowrap;
}

footer .footer-inner .footer-right li a::before {
  background: #FFFFFF;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0%;
}

footer .footer-inner .footer-right li a:hover::before {
  width: 100%;
}

footer .footer-copyright {
  font-size: 10px;
  padding-top: 44px;
  text-align: center;
  width: 100%;
}

.animated {
  display: inline;
  left: 0px;
  opacity: 0;
  position: fixed;
  right: 0px;
  top: -60px;
  z-index: 999;
}

.view-wrapper {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.view-wrapper .view-swiper {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.view-wrapper .view-swiper img {
  height: 100vh;
  overflow: hidden;
}

.view-wrapper .navi-wrapper {
  z-index: 2;
}

.view-wrapper .navi-wrapper .logo-container {
  position: relative;
  width: 100%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.view-wrapper .navi-wrapper .logo-container .main-logo {
  font-family: 'Noto Serif JP', serif;
  font-size: 60px;
  font-weight: normal;
  left: 50%;
  letter-spacing: 16px;
  margin: 0;
  position: absolute;
  top: 70%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
}

.view-wrapper .navi-wrapper .logo-container .sub-logo {
  font-family: 'Noto Serif JP', serif;
  font-size: 24px;
  font-weight: normal;
  left: 50%;
  letter-spacing: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(150%);
          transform: translateY(-50%) translateX(150%);
}

.view-wrapper .navi-wrapper .menu-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-wrapper .navi-wrapper .menu-container ul {
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  padding-left: 0px;
}

.view-wrapper .navi-wrapper .menu-container ul li {
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

.view-wrapper .navi-wrapper .menu-container ul li a {
  color: #000000;
  position: relative;
}

.view-wrapper .navi-wrapper .menu-container ul li a::before {
  background: #001E38;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0%;
}

.view-wrapper .navi-wrapper .menu-container ul li a:hover::before {
  width: 100%;
}

.news-wrapper {
  background-color: #001E38;
  height: 432px;
}

.news-wrapper .container1000 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-wrapper .container1000 h2 {
  color: #FFFFFF;
  font-family: 'Noto Serif JP', serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-top: 64px;
  text-align: center;
}

.news-wrapper .container1000 .news-container {
  padding-bottom: 10px;
  padding-top: 56px;
}

.news-wrapper .container1000 .news-container .news {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  text-align: center;
}

.news-wrapper .container1000 .news-container .news .news-date, .news-wrapper .container1000 .news-container .news .news-title {
  color: #FFFFFF;
  font-size: 16px;
  padding-right: 2rem;
}

.news-wrapper .container1000 .news-container .news .news-genre {
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #000000;
  font-size: 10px;
  margin-right: 24px;
  padding: 2px 16px;
}

.news-wrapper .container1000 .news-container .news .news-title {
  padding-bottom: 0;
  padding-top: 0;
}

.news-wrapper .container1000 .news-container .news .news-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-wrapper .container1000 .btn-w {
  margin: 0 auto;
}

.about-wrapper {
  height: 580px;
}

.about-wrapper .container1000 .title-en {
  color: #EB9000;
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.about-wrapper .container1000 .title-jp {
  font-family: 'Noto Serif JP', serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 64px;
  padding-top: 20px;
}

.about-wrapper .container1000 .about-left {
  padding-top: 92px;
  width: 50%;
}

.about-wrapper .container1000 .about-left p {
  font-size: 18px;
  margin: 0;
  padding-bottom: 12px;
  padding-right: 96px;
}

.about-wrapper .container1000 .about-right {
  width: 50%;
}

.about-wrapper .container1000 .about-right img {
  padding-top: 160px;
}

.work-wrapper .work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1.5rem;
}

.work-wrapper .work-container .title-en {
  color: #EB9000;
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.work-wrapper .work-container .title-jp {
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 54px;
  padding-top: 20px;
  text-align: center;
}

.work-wrapper .work-container .list-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.work-wrapper .work-container .list-panel .list-panel-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 auto;
  width: 33.33%;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel {
  display: block;
  overflow: hidden;
  position: relative;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel .image {
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel .box-title {
  color: #FFFFFF;
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel .box-title .box-en {
  font-size: 14px;
  margin: 0;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel .box-title .box-jp {
  font-size: 32px;
  margin: 0;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel .box-text {
  bottom: -35px;
  color: #FFFFFF;
  font-size: 12px;
  left: 0;
  min-height: 120px;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  -webkit-transition: opacity 0.2s ease, bottom 0.2s ease;
  transition: opacity 0.2s ease, bottom 0.2s ease;
  word-break: break-all;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel:hover .box-title {
  margin-top: -35px;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel:hover .box-title::after {
  display: block;
}

.work-wrapper .work-container .list-panel .list-panel-items .panel:hover .box-text {
  bottom: 0;
  opacity: 1;
}

.work-wrapper .work-container .btn-b {
  margin: 12px 140px 56px auto;
}

.recruit-wrapper {
  position: relative;
}

.recruit-wrapper .recruit-container {
  background: #FFFFFF;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 512px;
}

.recruit-wrapper .recruit-container .title-en {
  color: #EB9000;
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding-top: 5px;
}

.recruit-wrapper .recruit-container .title-jp {
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 80px;
  padding-top: 20px;
}

.recruit-wrapper .recruit-container p {
  font-size: 20px;
  margin: 0 116px 0 116px;
}

.recruit-wrapper .recruit-container .btn-o a {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

.recruit-wrapper .recruit-swiper {
  height: 568px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-transform: none;
          transform: none;
  width: 100%;
  z-index: -1;
}

.recruit-wrapper .recruit-swiper .swiper-slide {
  height: 568px;
  overflow: hidden;
}

.recruit-wrapper .recruit-swiper .swiper-slide img {
  height: 568px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.store-wrapper .store-container {
  background-color: #001E38;
  height: 256px;
  margin: 164px auto 60px auto;
  max-width: 100%;
  position: relative;
  width: 1000px;
}

.store-wrapper .store-container figure {
  height: 100%;
  left: 30px;
  position: absolute;
  top: -30px;
  width: 50%;
}

.store-wrapper .store-container figure img {
  height: 100%;
  width: 100%;
}

.store-wrapper .store-container .store-right {
  margin: 0 0 0 auto;
  width: 50%;
}

.store-wrapper .store-container .store-right .store-text {
  color: #FFFFFF;
  font-size: 20px;
  margin: 0;
  padding: 64px 56px 56px 56px;
  text-align: center;
}

.store-wrapper .store-container .store-right .btn-w {
  border-bottom: 1px solid #FFFFFF;
  margin: auto 0;
  overflow: hidden;
  position: relative;
  width: 190px;
  /* 上のボーダー */
  /*a*/
  margin: 0 auto;
}

.store-wrapper .store-container .store-right .btn-w:before {
  background: #FFFFFF;
  content: '';
  /*線の色*/
  height: 1px;
  left: -190px;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 190px;
}

.store-wrapper .store-container .store-right .btn-w:hover:before {
  left: 0px;
}

.store-wrapper .store-container .store-right .btn-w a {
  color: #FFFFFF;
  display: block;
  font-family: 'Noto Serif JP', serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 3em;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.store-wrapper .store-container .store-right .btn-w a:after {
  border-bottom: 1px solid #FFFFFF;
  bottom: 20px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 12px;
  right: 15px;
}

.store-wrapper .store-container .store-right .btn-w a:before {
  border-bottom: 1px solid #FFFFFF;
  bottom: 21px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 24px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 6px;
  right: 14px;
}

.store-wrapper .store-container .store-right .btn-w a:hover:after {
  right: 5px;
}

.store-wrapper .store-container .store-right .btn-w a:hover:before {
  right: 4px;
}

.online-banner-wrapper {
  background-color: #001E38;
  margin: 20px 0;
}

@media (min-width: 992px) {
  .online-banner-wrapper {
    margin: 120px auto 40px;
    width: 1000px;
    max-width: 1000px;
  }
}

.online-banner-wrapper .online-banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (min-width: 992px) {
  .online-banner-wrapper .online-banner-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.online-banner-wrapper .online-banner-container .online-banner-contents {
  padding: 16px;
  width: 60%;
}

@media (min-width: 992px) {
  .online-banner-wrapper .online-banner-container .online-banner-contents {
    margin: auto;
    padding: 40px;
    width: 50%;
  }
}

.online-banner-wrapper .online-banner-container .online-banner-contents p {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
}

@media (min-width: 992px) {
  .online-banner-wrapper .online-banner-container .online-banner-contents p {
    font-size: 20px;
  }
}

.online-banner-wrapper .online-banner-container .online-banner-contents a {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  margin: 16px auto 0;
  overflow: hidden;
  padding: 12px 0;
  position: relative;
  text-align: center;
  width: 80%;
}

@media (min-width: 992px) {
  .online-banner-wrapper .online-banner-container .online-banner-contents a {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-size: 16px;
    margin-top: 32px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    width: 50%;
  }
  .online-banner-wrapper .online-banner-container .online-banner-contents a::before {
    background: #FFFFFF;
    content: '';
    height: 1px;
    left: -230px;
    position: absolute;
    top: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
  }
  .online-banner-wrapper .online-banner-container .online-banner-contents a:hover::before {
    background: #FFFFFF;
    left: 0;
  }
  .online-banner-wrapper .online-banner-container .online-banner-contents a:hover span {
    margin-left: 16px;
  }
}

.online-banner-wrapper .online-banner-container .online-banner-contents a span {
  margin-left: 8px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.online-banner-wrapper .online-banner-container .online-banner-image {
  width: 40%;
}

@media (min-width: 992px) {
  .online-banner-wrapper .online-banner-container .online-banner-image {
    position: relative;
    width: 50%;
  }
}

.online-banner-wrapper .online-banner-container .online-banner-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (min-width: 992px) {
  .online-banner-wrapper .online-banner-container .online-banner-image img {
    bottom: 40px;
    height: unset;
    -o-object-fit: unset;
       object-fit: unset;
    position: absolute;
    right: 20px;
    width: 80%;
  }
}

.head-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #001E38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
  width: 100%;
}

.head-title h1 {
  background-color: #FFFFFF;
  color: #000000;
  display: inline-block;
  font-size: 20px;
  margin: auto auto auto 64px;
  padding: 24px 56px;
}

.message {
  width: 100%;
}

.message .container800 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message .container800 .ceo-view {
  margin: 0;
  padding-top: 112px;
}

.message .container800 .ceo-text {
  font-size: 16px;
  margin: 0;
  padding-bottom: 72px;
  padding-top: 60px;
}

.message .container800 .ceo-name {
  font-size: 16px;
  margin: 0 0 0 auto;
  padding-bottom: 120px;
}

.profile {
  width: 100%;
}

.history {
  width: 100%;
}

.container800 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container800 h1 {
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  padding-top: 40px;
}

.container800 .list-container {
  margin: 0;
  padding-bottom: 32px;
  padding-top: 44px;
}

.container800 .list-container .row {
  border-bottom: 1px solid #000000;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  padding: 16px 0;
}

.container800 .list-container .row h3 {
  display: block;
  font-size: 12px;
  margin: 0;
  width: 120px;
}

.container800 .list-container .row p {
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-container {
  width: 50%;
}

.img-container {
  width: 50%;
}

.intro .img-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .text-container {
  margin: 0 auto;
  padding: 24px;
}

.intro .text-container h2 {
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  padding-top: 128px;
}

.intro .text-container p {
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 88px;
  padding-top: 28px;
}

.civil-container, .antique-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.civil-container .text-container, .antique-container .text-container {
  height: 100%;
  text-align: center;
}

.civil-container .text-container h3, .antique-container .text-container h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
  font-size: 80px;
  font-weight: normal;
  height: 45%;
  margin: auto;
  padding-bottom: 48px;
  padding-top: 48px;
}

.civil-container .text-container p, .antique-container .text-container p {
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  font-weight: normal;
  margin: auto;
  padding: 12px;
  width: 80%;
}

.civil-container .text-container .btn-b, .antique-container .text-container .btn-b {
  border-bottom: 1px solid #000000;
  margin: auto 0;
  overflow: hidden;
  position: relative;
  width: 190px;
  /* 上のボーダー */
  /*a*/
  margin: 24px auto 24px auto;
}

.civil-container .text-container .btn-b:before, .antique-container .text-container .btn-b:before {
  background: #000000;
  content: '';
  /*線の色*/
  height: 1px;
  left: -190px;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 190px;
}

.civil-container .text-container .btn-b:hover:before, .antique-container .text-container .btn-b:hover:before {
  left: 0px;
}

.civil-container .text-container .btn-b a, .antique-container .text-container .btn-b a {
  color: #000000;
  display: block;
  font-family: 'Noto Serif JP', serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 3em;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.civil-container .text-container .btn-b a:after, .antique-container .text-container .btn-b a:after {
  border-bottom: 1px solid #000000;
  bottom: 20px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 12px;
  right: 15px;
}

.civil-container .text-container .btn-b a:before, .antique-container .text-container .btn-b a:before {
  border-bottom: 1px solid #000000;
  bottom: 21px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 24px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 6px;
  right: 14px;
}

.civil-container .text-container .btn-b a:hover:after, .antique-container .text-container .btn-b a:hover:after {
  right: 5px;
}

.civil-container .text-container .btn-b a:hover:before, .antique-container .text-container .btn-b a:hover:before {
  right: 4px;
}

.civil .img-container {
  margin: auto auto auto 0;
}

.civil .img-container figure {
  max-width: 600px;
  width: 100%;
}

.antique .img-container {
  margin: auto 0 auto auto;
}

.antique figure {
  margin-left: auto;
  margin-right: 0;
  max-width: 600px;
  width: 100%;
}

.filter {
  padding-bottom: 72px;
  padding-top: 40px;
  text-align: center;
}

.card-wrapper {
  background-color: #001E38;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 24%;
}

.card .card-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.card .card-contents .img-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card-contents .img-card img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.card .card-contents .text-card h3 {
  color: #000000;
  font-size: 16px;
  margin: 0;
  padding-top: 22px;
}

.card .card-contents .text-card h4 {
  color: #000000;
  font-size: 12px;
  margin: 0;
  padding-top: 12px;
}

.card .card-contents .text-card p {
  background-color: #d6d6d6;
  color: #000000;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin: 16px 0 auto 0;
  padding: 2px;
}

.pagenation-wrapper {
  height: 100px;
  width: 100%;
}

.pagenation-wrapper .c-pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

.pagenation-wrapper .c-pagenation ul {
  margin: 0 auto;
  padding-top: 40px;
}

.c-pagenation {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

.c-pagenation__number {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.c-pagenation .c-arrow-box, .c-pagenation__number li a {
  font-size: 16px;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .c-pagenation .c-arrow-box, .c-pagenation__number li a {
    font-size: 12px;
    height: 30px;
    width: 30px;
  }
}

.c-pagenation__num
ber {
  margin: 0 20px;
}

@media screen and (max-width: 767px) {
  .c-pagenation__number {
    margin: 0 10px;
  }
}

.c-pagenation__number li + li {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .c-pagenation__number li + li {
    margin-left: 3px;
  }
}

.c-pagenation__number li a {
  -moz-align-items: center;
  align-items: center;
  border: 1px solid #E0E0E0;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  text-decoration: none;
}

.c-pagenation__number li a.is-current, .c-pagenation__number li a:hover {
  background: #001E38;
  border: none;
}

.c-pagenation__number li a.is-current span, .c-pagenation__number li a:hover span {
  color: #FFFFFF;
}

.c-pagenation-article {
  background: #FAFAFA;
  border-bottom: 1px solid #E0E0E0;
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .c-pagenation-article {
    padding: 15px 0;
  }
}

.c-pagenation-article__inner {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .c-pagenation-article__inner {
    display: block;
  }
}

.c-pagenation-dir {
  border-bottom: 1px solid #E0E0E0;
  padding: 1rem 0 40px 0;
}

@media screen and (max-width: 767px) {
  .c-pagenation-dir {
    border-bottom: none;
    padding: 0;
  }
}

.c-pagenation-dir__label {
  background: #FFFFFF;
  display: none;
}

@media screen and (max-width: 767px) {
  .c-pagenation-dir__label {
    border-bottom: 1px solid #E0E0E0;
    display: block;
    font-family: 'ゴシックMB101 M','Gothic MB101 Medium', sans-serif;
    font-size: 14px;
    padding: 20px;
  }
}

.c-pagenation-dir__list {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .c-pagenation-dir__list {
    display: block;
  }
}

.c-pagenation-dir__list li {
  font-family: 'ゴシックMB101 M','Gothic MB101 Medium', sans-serif;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 30px;
}

.c-pagenation-dir__list li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .c-pagenation-dir__list li {
    font-size: 1.3rem;
    margin: 0;
  }
  .c-pagenation-dir__list li:first-child {
    margin-left: 0;
  }
  .c-pagenation-dir__list li:first-child a {
    padding: 20px;
  }
}

.c-pagenation-dir__list a {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .c-pagenation-dir__list a {
    display: block;
    padding: 20px 20px 20px 40px;
  }
}

.c-pagenation-dir__list a.is-current, .c-pagenation-dir__list a:hover {
  position: relative;
}

.c-pagenation-dir__list a.is-current:after, .c-pagenation-dir__list a:hover:after {
  background: #001E38;
  bottom: -0px;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .c-pagenation-dir__list a.is-current:after, .c-pagenation-dir__list a:hover:after {
    content: none;
  }
}

.u-hide-txt {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 100%;
  white-space: nowrap;
}

.c-arrow-box--l + .c-button__text {
  border-right: 1px solid #E0E0E0;
}

.c-arrow-box--r + .c-button__text {
  border-left: 1px solid #E0E0E0;
}

@media screen and (max-width: 767px) {
  .c-button__text {
    font-size: 12px;
    width: calc(100% - 45px);
  }
}

a:hover .c-button__text {
  background: #FFFFFF;
  border-color: #001E38;
}

a:hover .c-button__text span {
  color: #001E38;
}

.c-button--white .c-button__text {
  background: none;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

a:hover .c-button--white .c-button__text {
  background: #FFFFFF;
}

.c-button--white .c-arrow-box {
  background: #FFFFFF;
}

.c-arrow-box {
  background: #F5F5F5;
  display: block;
  position: relative;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.c-arrow-box.is-green, .c-arrow-box:hover, a:hover .c-arrow-box {
  background: #001E38;
}

.c-arrow-box:after {
  content: '';
  display: block;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.c-arrow-box--r:after {
  border-bottom: 3px solid transparent;
  border-left: 6px solid transparent;
  border-left-color: #001E38;
  border-right: 6px solid transparent;
  border-right: none;
  border-top: 3px solid transparent;
  height: 0;
  width: 0;
}

.c-arrow-box--r.is-green:after, .c-arrow-box--r:hover:after, a:hover .c-arrow-box--r:after {
  border-left-color: #FFFFFF;
}

.c-arrow-box--r:hover:after, a:hover .c-arrow-box--r.is-green:after, a:hover .c-arrow-box--r:after {
  left: calc(50% + 3px);
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.c-arrow-box--l:after {
  border-bottom: 3px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-right-color: #001E38;
  border-top: 3px solid transparent;
  height: 0;
  margin-left: -3px;
  width: 0;
}

.c-arrow-box--l.is-green:after, .c-arrow-box--l:hover:after, a:hover .c-arrow-box--l:after {
  border-right-color: #FFFFFF;
}

.container800 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container800 h1 {
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  padding-top: 40px;
}

.container800 .list-container {
  margin: 0;
  padding-bottom: 32px;
  padding-top: 44px;
}

.container800 .list-container .row {
  border-bottom: 1px solid #000000;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  padding: 16px 0;
}

.container800 .list-container .row h3 {
  display: block;
  font-size: 12px;
  margin: 0;
  width: 120px;
}

.container800 .list-container .row p {
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
}

.container800 .btn-b {
  margin: 0 auto;
}

.container800 .btn-b p {
  margin: 0 auto;
}

.works-title {
  padding-bottom: 12px;
  padding-top: 80px;
}

.works-title p {
  background-color: #d6d6d6;
  color: #000000;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 5px;
}

.caption-wrapper {
  margin-top: 48px;
  padding-bottom: 64px;
  padding-top: 40px;
}

.caption-wrapper h2 {
  display: inline-block;
  font-size: 48px;
  text-align: center;
}

.carousele-wrapper {
  height: 1000px;
}

.swiper-container {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.deteil-swiper-slide {
  background-position: center;
  background-size: cover;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 20%;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
  width: 25%;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.recruit-wrapper .container1000 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recruit-message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 100%;
}

.recruit-message .message-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 57%;
}

.recruit-message .message-left h2 {
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  font-weight: normal;
}

.recruit-message .message-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 43%;
}

.recruit-message .message-right p {
  font-size: 16px;
}

.banner-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.banner-container .banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 248px;
  width: 1100px;
}

.banner-container .banner .banner-left {
  overflow: hidden;
  width: 50%;
}

.banner-container .banner .banner-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EB9000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 50%;
}

.banner-container .banner .banner-right h2 {
  color: #FFFFFF;
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  padding-top: 80px;
  position: relative;
}

.banner-container .banner .banner-right .btn-p {
  bottom: -40px;
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  position: absolute;
}

/*メディアクエリmixin*/
/*メディアクエリmixin終了*/
@media screen and (max-width: 767px) {
  #nav-toggle {
    cursor: pointer;
    display: block;
    height: 32px;
    position: fixed;
    right: 25px;
    top: 25px;
  }
  #nav-toggle > div {
    position: relative;
    width: 36px;
  }
  #nav-toggle span {
    background: #333333;
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
    transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
    transition: transform 0.6s ease-in-out, top 0.5s ease, -webkit-transform 0.6s ease-in-out;
    width: 100%;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 14px;
  }
  #nav-toggle span:nth-child(3) {
    top: 28px;
  }
  #nav-toggle:hover span:nth-child(1) {
    top: 4px;
  }
  #nav-toggle:hover span:nth-child(3) {
    top: 23px;
  }
  .open #nav-toggle span {
    background: #000000;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    left: 50%;
    top: 15px;
    width: 0;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  /* z-index */
  #nav-toggle {
    z-index: 1000;
  }
  #container {
    z-index: 900;
  }
  #gloval-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    bottom: 0;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 29px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
    z-index: 990;
  }
  #gloval-nav a {
    color: #000000;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.6s ease;
    transition: color 0.6s ease;
  }
  #gloval-nav a:hover {
    color: #666666;
  }
  #gloval-nav ul {
    list-style: none;
  }
  #gloval-nav ul li {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.6s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.6s ease;
    transition: transform 0.6s ease, opacity 0.2s ease;
    transition: transform 0.6s ease, opacity 0.2s ease, -webkit-transform 0.6s ease;
  }
  #gloval-nav ul li:nth-child(2) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  #gloval-nav ul li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  #gloval-nav ul li:nth-child(4) {
    -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s;
  }
  #gloval-nav ul li:nth-child(5) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  #gloval-nav ul li:nth-child(6) {
    -webkit-transition-delay: 0.75s;
            transition-delay: 0.75s;
  }
  #gloval-nav ul li:nth-child(7) {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
  /* open */
  .open {
    overflow: hidden;
  }
  .open #gloval-nav {
    opacity: 1;
    visibility: visible;
  }
  .open #gloval-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.9s ease, -webkit-transform 1s ease;
    transition: opacity 0.9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity 0.9s ease;
    transition: transform 1s ease, opacity 0.9s ease, -webkit-transform 1s ease;
  }
}

@media screen and (min-width: 768px) {
  header .header-inner nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: auto;
    padding-right: 0;
  }
  header .header-inner nav ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Noto Serif JP', serif;
    font-weight: normal;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
  header .header-inner nav ul li {
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
  }
  header .header-inner nav ul li a {
    color: #000000;
    position: relative;
  }
  header .header-inner nav ul li a::before {
    background: #001E38;
    bottom: -2px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 0%;
  }
  header .header-inner nav ul li a:hover::before {
    width: 100%;
  }
  header .header-inner nav ul li.active a {
    border-bottom: 2px solid #008090;
  }
  header .header-inner .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  footer .footer-left {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  footer .footer-right {
    display: none;
  }
  footer .footer-right-md {
    display: block;
  }
  footer .footer-right-md ul {
    font-family: 'Noto Serif JP', serif;
    font-weight: normal;
    padding-left: 0;
  }
  footer .footer-right-md li {
    border-bottom: 1px solid #FFFFFF;
    line-height: 2.5;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  footer .footer-right-md li a {
    color: #FFFFFF;
    font-size: 1rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  footer .footer-inner {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 1000px;
  }
  footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 40%;
  }
  footer .footer-right-md {
    display: none;
  }
  footer .footer-left {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .view-wrapper {
    height: 500px;
  }
  .view-wrapper .navi-wrapper {
    height: 100%;
    text-align: center;
    top: 0;
  }
  .view-wrapper .navi-wrapper .logo-container {
    height: 70%;
    top: 100px;
    z-index: 100;
  }
  .view-wrapper .navi-wrapper .logo-container .sub-logo {
    background-color: #FFFFFF;
    color: #000000;
    letter-spacing: 8px;
  }
  .view-wrapper .navi-wrapper .logo-container .main-logo {
    background-color: #FFFFFF;
    color: #000000;
  }
  .view-wrapper .navi-wrapper .menu-container {
    display: none;
  }
  .view-wrapper .view-swiper {
    height: 350px;
    top: 0;
  }
  .view-wrapper .background-md {
    background-color: #001E38;
    display: block;
    height: 155px;
    position: absolute;
    top: 349px;
    width: 100%;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .view-wrapper .background-md {
    display: none;
  }
  .view-wrapper .navi-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    position: absolute;
    width: 400px;
  }
  .view-wrapper .navi-wrapper .logo-container {
    height: 50%;
  }
}

@media screen and (max-width: 767px) {
  .news-wrapper {
    height: 640px;
  }
  .news-wrapper .news-container {
    margin: 0 auto;
    width: 280px;
  }
  .news-wrapper .news {
    display: inline-block;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: right;
  }
  .news-wrapper .news-head {
    padding-bottom: 0.5rem;
  }
  .news-wrapper .news-title {
    padding-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .about-wrapper {
    height: 650px;
  }
  .about-wrapper .container1000 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-wrapper .about-right {
    height: 260px;
    width: 100%;
  }
  .about-wrapper .about-right figure {
    height: 100%;
    text-align: center;
  }
  .about-wrapper .about-right img {
    height: 100%;
    padding: 0;
    width: auto;
  }
  .about-wrapper .about-left {
    padding: 2rem 0 0 0;
    text-align: center;
    width: 80%;
  }
  .about-wrapper .about-left .title-en, .about-wrapper .about-left .title-jp {
    display: none;
  }
  .about-wrapper .about-left p {
    font-size: 1rem;
    padding-right: 0;
  }
  .about-wrapper .about-left .btn-b {
    margin: 0 auto;
  }
  .about-wrapper .about-head-sm {
    text-align: center;
  }
  .about-wrapper .about-head-sm .title-jp {
    padding-bottom: 2.5rem;
    padding-top: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .about-wrapper .container1000 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .about-wrapper .container1000 .about-head-sm {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .work-wrapper .list-panel-items {
    width: 50%;
  }
  .work-wrapper .btn-b {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 767px) {
  .recruit-wrapper {
    position: static;
  }
  .recruit-wrapper .recruit-container {
    background-color: rgba(255, 255, 255, 0);
    position: static;
    width: 100%;
  }
  .recruit-wrapper .recruit-container p, .recruit-wrapper .recruit-container .btn-o {
    display: none;
  }
  .recruit-wrapper .recruit-body-sm {
    margin: 0 auto;
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .recruit-wrapper .recruit-body-sm {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .store-wrapper .store-container {
    height: 10rem;
  }
  .store-wrapper .store-container figure {
    right: 0;
    top: 0;
  }
  .store-wrapper .store-container figure img {
    height: 100%;
    width: auto;
  }
  .store-wrapper .store-container .store-right .store-text {
    font-size: 0.75rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .card-wrapper .card {
    width: 49%;
  }
}

@media screen and (max-width: 767px) {
  .intro-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro-container .img-container {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .civil-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .civil-container .img-container {
    margin: 0 auto;
    width: 80%;
  }
  .civil-container .text-container {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .antique-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .antique-container .img-container {
    margin: 0 auto;
    width: 80%;
  }
  .antique-container .text-container {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .recruit-message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .recruit-message .message-left, .recruit-message .message-right {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    height: auto;
    width: 80%;
  }
  .banner h2 {
    font-size: 16px;
    padding-top: 0px;
  }
  .banner .btn-p {
    bottom: -4rem;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    height: auto;
    width: 80%;
  }
  .banner h2 {
    font-size: 16px;
    padding-top: 0px;
  }
  .banner .btn-p {
    bottom: 3rem;
    left: -1rem;
  }
}
/*# sourceMappingURL=import.css.map */